@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	@apply cursor-auto;
	@apply bg-gray-200;
}

* {
	@apply cursor-auto;
	font-family: monospace;
	@apply text-gray-800;
}

@layer utilities {
	@variants responsive {
		/* Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

.hover-reveal-child:hover > * {
	opacity: 1;
}

button {
	@apply text-2xl;
	@apply text-white;
	@apply bg-indigo-400;
	@apply hover:bg-indigo-600;
	@apply px-5;
	@apply py-2;
	@apply cursor-pointer;
	@apply transition-colors;
}

a {
	@apply cursor-pointer;
	@apply hover:opacity-95;
	@apply active:opacity-80;
	@apply transition-opacity;
}

h1 {
	@apply text-5xl;
	@apply text-gray-900;
}
